/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Arial, sans-serif;
	background-color: #FFFFFF;
	color: black
}

/* Changing the background colour for the header */

header {
	background-color: #29292929;
	font-family: montserrat, sans-serif;
	color: #000000
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #292929;
	font-family: AEH


/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
.bg-darker {
}
.fw-dark {
}
.center {
}
